<!DOCTYPE html>
<html lang="ko" ng-app="MyShoppingListApp">
<head>
  <meta charset="UTF-8">
  <script src="angular.min.js"></script>
  <script src="app2.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>My First Service</h1>

  <div ng-controller="ShoppingListAddController as itemAdder">
    <input type="text" ng-model="itemAdder.itemName">
    <input type="text" ng-model="itemAdder.itemQuantity">
    <button ng-click="itemAdder.addItem()">Add!</button>
  </div>

  <div ng-controller="ShoppingListShowController as showList">
    <ul>
      <li ng-repeat="item in showList.items">
        {{item.quantity}} of {{item.name}}
        <button ng-click="showList.deleteItem($index)">삭제</button>
      </li>
    </ul>
  </div>

</body>
</html>
